<div style="margin-left: auto; margin-right: auto; width: 80%">
	<p>
		<textarea id="twitchHTML" name="twitchHTML" rows="4" cols="50" style="width: 80%">
		</textarea><br />
	<input type="button" onclick="javascript:window.ooc.parseHTML()" value="Parse" >
	</p>
	<div id="gen"></div>
</div>

<script src="index.min.js">
</script>
